.input-box-home{
	width: 100%;
	height: 40px;
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	padding: 15px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.input-select-home{
	width: 45%;
	height: 40px;
	background: #f0f6f9;
	justify-content: center;
	display: flex;
	margin:3px;
	padding: 3px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.wasteit-bg {
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1621243804936-775306a8f2e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}